
{% extends "base.html" %}

{% load static from staticfiles %}


{% block title %}Features{% endblock %}

{% block content %}
<div style="margin:70px">
  <h1>Features</h1>
  <h2>Current</h2>
  <h3>FTMap</h3>
  <h2>Coming Soon</h2>
  <h3>FTSite</h3>
</div>
{% endblock %}