{% extends "base.html" %}

{% block content %}
<div style="margin:70px">
  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
</div>
{% endblock %}